/* NOTES to contributors:
 * Be exclicit not implicit and keep it simple*/


/* default */
* {
    engine: none;

    -GtkArrow-arrow-scaling: 0.56;
    -GtkWidget-focus-padding: 2;
    -GtkWidget-focus-line-pattern: "\0\0";
}


/***************
 * base states *
 ***************/
.background {
    background-color: @theme_bg_color;
    color: @theme_fg_color;
}

.separator {
    background-color: @theme_bg_color;
    color: transparent;
}


/***********
 * button *
 ***********/

.button {
    padding: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: @theme_base_color;
    border-bottom-color: @gradient_from_color;
    background-image: -gtk-gradient(linear, left top, left bottom,
    from (@gradient_from_color),
    to (@gradient_to_color));
    color: @theme_fg_color;
}

.button:active {
    background-image: -gtk-gradient(linear, left top, left bottom,
    from (@theme_bg_color),
    to (@theme_base_color));
    color: @theme_selected_fg_color;
}

.button:hover {
    border-color: @insensitive_color;
    background-color: @theme_selected_bg_color;
    background-image: none;
    color: @theme_selected_fg_color;
}

.button:insensitive {
    background-image: -gtk-gradient(linear, left top, left bottom,
    from (@theme_bg_color),
    to (@theme_base_color));
    color: @insensitive_color;
}


.check {
    background-image: url("assets/check1.png");
    background-repeat: no-repeat;
}

.check:hover,
.check:hover:active,
.check:selected,
.check:selected:focus
{
    border-width: 0px;
    background-image: url("assets/check4.png");
}



/********
 * menu *
 ********/

.menu {
    background-image: -gtk-gradient(linear, left top, left bottom,
    from (@gradient_from_color),
    to (@gradient_to_color));
    border-color: @theme_base_color;
    border-style: solid;
    border-width: 1px;
    color: @theme_fg_color;
    padding: 3px 2px;
}


/***********
 * menubar *
 ***********/

.menubar {
    /*Need to complete mnemonic key indicators*/
    -GtkWidget-window-dragging: true;

    background-color: @theme_base_color;
    color: @theme_fg_color;
    padding: 2px;
}


/***************
 * menubaritem *
 ***************/

.menubar.menuitem,
.menubar .menuitem {
    color: @theme_fg_color;
    padding: 2px 7px;
}

.menuitem:hover
{
    background-color: @theme_selected_bg_color;
    border-color: @insensitive_color;
    border-style: solid;
    border-width: 1px;
    color: @theme_selected_fg_color;
}

.toolbar {
    background-image: -gtk-gradient(linear, left top, left bottom,
    from (@gradient_from_color),
    to (@theme_bg_color));
}


